@import "../../assets/scss/abstracts";
$component-name: c-notification;

.#{$component-name} {
  color: #fff;
  height: fit-content;
  padding: var(--global-module-size);
  text-align: center;

  &.success {
    background-color: #01c851;
  }

  &.warning {
    background-color: #fb3;
  }

  &.error {
    background-color: #fe4443;
  }

  &--float {
    cursor: pointer;
    opacity: 0;
    position: fixed;
    right: 0;
    top: rem(50);
    transition: 0.3s ease-in-out;
    visibility: hidden;

    &.is-visible {
      opacity: 1;
      transform: translateX(-100px);
      visibility: visible;
    }
  }
}