@import "abstracts";
@import "base/theme-variables";
@import "base/reset";
@import "base/helpers";
@import "layout/l-home";
@import "layout/l-page";
@import "layout/l-car";

body {
  color: var(--theme-color-1);
}

main {
  margin-top: rem(100);
  margin-bottom: rem(100);
}