@import "abstracts";
@import "base/theme-variables";
@import "base/reset";
@import "base/helpers";
@import "layout/l-home";
@import "layout/l-page";
@import "layout/l-car";
@import "layout/l-selectAddress";

body {
  color: var(--theme-color-1);
  font-family: var(--theme-font-family);
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

main {
  margin-bottom: var(--global-module-size);
  margin-top: var(--global-module-size);
}