@import "../../assets/scss/abstracts";

.c-search {
  background-color: var(--text-color-1);
  border: 2px solid var(--theme-color-2);
  width: 100%;
  max-width: 500px;

  &:focus,
  &:active {
    border-color: var(--theme-color-3);
  }

  input {
    height: 100%;
    width: 100%;
    border: 0;
    outline: 0;
  }
}