@import "../../assets/scss/abstracts";

.c-backtotop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--theme-color-1);
  padding: var(--global-module-size);
  border-radius: 5px;
  cursor: pointer;
  transition: var(--theme-transition);
  z-index: z-index("above");
  box-shadow: var(--theme-box-shadow);
  opacity: 0;
  visibility: hidden;

  &.is-active {
    opacity: 1;
    visibility: visible;
  }

  svg path {
    fill: #fff;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: var(--theme-color-2);
  }
}