@import "../../assets/scss/abstracts";

$desktop: 600;

.l-header {
  background-color: #fff;
  box-shadow: var(--theme-box-shadow2);
  color: var(--text-color-1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: z-index("fixed-header");

  &__content {
    @include content("grid");
    padding-top: rem(10);
    padding-bottom: rem(10);
    grid-template-columns: 200px calc(100% - 200px);
  }

  &__logo {
    max-width: rem(100);

    @include breakpoint(600) {
      max-width: none;
    }
  }

  &__menu {
    display: flex;
    gap: rem(10);

    @include breakpoint($desktop) {
      align-items: center;
      justify-content: flex-end;
    }
  }

  @media only screen and (max-width: "#{$desktop - 1}px") {
    &__menu {
      height: 100%;
      left: 0;
      width: rem(200);
      padding-top: var(--global-module-size);
      padding-left: var(--global-module-size);
      background-color: var(--theme-color-1);
      transition: var(--theme-transition);
      box-shadow: var(--theme-box-shadow);
      position: fixed;
      top: 0;
      transform: translateX(-100%);
      align-items: flex-start;
      flex-direction: column;
      z-index: z-index("mobile-menu");

      &.is-active {
        transform: translateX(0);
      }
    }

  }

  &__menu-item {
    color: var(--text-color-1);
    cursor: pointer;
    font-weight: bold;
    padding: rem(10);
    display: flex;
    align-items: center;
    transition: var(--theme-transition);
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      color: var(--theme-color-2);
    }

    @include breakpoint($desktop) {
      color: var(--theme-color-1);
      justify-content: center;
      width: auto;
    }

  }

  &__social {
    --social-icon-color: #fff;

    @include breakpoint($desktop) {
      --social-icon-color: var(--theme-color-1);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
      padding-right: rem(3);
      cursor: pointer;

      path {
        fill: var(--theme-color-1);
        transition: var(--theme-transition);
      }

      &:hover,
      &:focus,
      &:active,
      &.is-active {
        path {
          fill: var(--theme-color-2);
        }
      }
    }

    @include breakpoint($desktop) {
      display: none;
      visibility: hidden;
    }
  }
}