$desktop: 1200;

.l-car {
  &__content {
    @include content;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    gap: var(--global-module-size);
  }

  &__header {
    color: var(--theme-color-1);
    font-style: italic;
    width: 100%;
  }

  &__info {
    display: grid;
    width: 100%;

    @include breakpoint($desktop) {
      grid-template-columns: calc(100% - 400px) 400px;
    }
  }

  &__main {
    background-color: var(--theme-color-5);
    padding: var(--global-module-size);
    margin-top: var(--global-module-size);

    @include breakpoint($desktop) {
      margin-top: 0;
      margin-left: var(--global-module-size);
    }
  }

  &__photos {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__form {
    form {
      display: flex;
      flex-direction: column;
      gap: rem(10);
      align-items: center;
      justify-content: center;

      .c-input {
        width: 100%;
      }

      .c-input:not(:has(textarea, select)) {
        span {
          position: absolute;
          top: 0;
          opacity: 0;
          visibility: hidden;
        }
      }

      .c-button {
        font-size: rem(18);
        margin-top: rem(10)
      }
    }
  }

  &__form-title {
    font-size: rem(28);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: rem(10);
  }

  &__main-photo {
    width: 100%;
    height: rem(500);
    border-left: 5px solid transparent;
    max-width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__photos-list {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;

    ul {
      display: inline-block;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }


    li {
      display: inline-block;
      cursor: pointer;
      transition: var(--theme-transition2);
      border: 5px solid transparent;
      height: rem(100);
      width: rem(100);

      &:hover,
      &:focus,
      &:active {
        border-color: var(--theme-color-2);
      }

      .c-image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }


    }
  }

  &__details {
    display: grid;
    font-weight: bold;
    width: 100%;
    gap: rem(10);
    margin-top: var(--global-module-size);

    @include breakpoint(800) {
      grid-template-columns: 1fr 1fr;
    }

    li {
      color: var(--theme-color-1);
      background-color: var(--theme-color-5);
      padding: var(--global-module-size);
      border-radius: rem(5);
      display: flex;
      align-items: center;
      gap: rem(10);

      div {
        width: 100%;
        text-align: right;

        p {
          text-transform: uppercase;
          font-size: rem(24);
        }
      }
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--global-module-size);
    padding-top: var(--global-module-size);
    flex-direction: column;


    span {
      color: var(--theme-color-1);
      font-size: rem(28);
      font-weight: bold;
      text-transform: uppercase;

    }

    b {
      color: var(--theme-color-2);
      font-size: rem(32);
      margin-bottom: var(--global-module-size);
    }
  }

  &__address {
    display: flex;
    gap: rem(10);
    font-weight: bold;
    margin-bottom: var(--global-module-size);
  }

  &__optionals {
    padding: var(--global-module-size);
    background-color: var(--theme-color-6);
    margin-top: var(--global-module-size);
  }

  &__optionals-content {
    @include content;
  }

  &__optionals-title {
    color: var(--theme-color-2);
    font-style: italic;
    text-transform: uppercase;
    width: 100%;
  }

  &__optionals-list {
    color: #fff;
    font-size: rem(20);
    line-height: rem(48);
    text-transform: uppercase;

    @include breakpoint(600) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(800) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    li {
      &::before {
        content: "✓";
        margin-right: rem(5);
      }
    }

  }
}